<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.3/css/dataTables.dataTables.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/3.0.2/css/responsive.dataTables.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.3/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/responsive/3.0.2/js/dataTables.responsive.js"></script>
    <script src="https://cdn.datatables.net/responsive/3.0.2/js/responsive.dataTables.js"></script>
    <title>Project</title>
</head>

<body style="background-color: #34495E;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Project Python</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">หน้าหลัก</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-logout" aria-current="page" href="#">ออกจากระบบ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">เพิ่มข้อมูล</div>
            <div class="card-body">
                <form action="{{ url_for('save') }}" method="POST">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">ชื่อจริง</span>
                                <input type="text" class="form-control" name="name" placeholder="ชื่อจริง" required>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">นามสกุล</span>
                                <input type="text" class="form-control" name="lastname" placeholder="นามสกุล" required>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">เบอร์โทรศัพท์</span>
                                <input type="text" class="form-control phone" name="phone" placeholder="เบอร์โทรศัพท์"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <button type="submit" class="btn btn-success" style="margin-right: 3px;">บันทึก</button>
                            <a href="/print" target="_blank" class="btn btn-warning">ปริ้น</a>
                        </div>
                    </div>
                </form>
                <hr>
                {% if data %}
                {{data}}
                <div class="table-responsive" style="overflow-y: scroll; overflow-x: scroll;">

                </div>
                <table class="table table-bordered table-striped table-hover table-sm mt-3" id="myTable">
                    <thead>
                        <tr>
                            <th>ชื่อจริง</th>
                            <th>นามสกุล</th>
                            <th>เบอร์โทรศัพท์</th>
                            <th width="15%">ตัวเลือก</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                        <tr>
                            <td>{{ row.name }}</td>
                            <td>{{ row.lastname }}</td>
                            <td>{{ row.phone }}</td>
                            <td>
                                <button type="button" 
                                        data-name="{{ row.name }}"
                                        data-lastname="{{ row.lastname }}"
                                        data-phone="{{ row.phone }}"
                                        class="btn btn-success btn-sm btn-edit" 
                                        data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                    แก้ไข
                                </button>
                                <a href="/delete/{{ row.name }}" data-name="{{ row.name }}" class="btn btn-danger btn-sm btn-delete">ลบ</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <div align="center">
                        <h4>ไม่มีข้อมูล</h4>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">แก้ไข</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('edit') }}" method="post" id="form-edit">
                        <label for="">ชื่อจริง</label>
                        <input type="text" name="name" class="form-control edit-name" placeholder="กรอกชื่อจริง">
                        <label for="">นามสกุล</label>
                        <input type="text" name="lastname" class="form-control edit-lastname" placeholder="กรอกนามสกุล">
                        <label for="">เบอร์โทรศัพท์</label>
                        <input type="text" name="phone" class="form-control edit-phone" placeholder="กรอกเบอร์โทรศัพท์">
                        <input type="hidden" name="old_name" value="" class="txt-old-name">
                        <input type="hidden" name="old_lastname" value="" class="txt-old-lastname">
                        <input type="hidden" name="old_phone" value="" class="txt-old-phone">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-edit-save">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {

        $('#myTable').DataTable({
            responsive: true
        });

        $(".btn-edit").on("click", function (e) {
            $(".txt-old-name").val($(this).data('name'))
            $(".txt-old-lastname").val($(this).data('lastname'))
            $(".txt-old-phone").val($(this).data('phone'))
            $(".edit-name").val($(this).data('name'))
            $(".edit-lastname").val($(this).data('lastname'))
            $(".edit-phone").val($(this).data('phone'))
        });

        $(".btn-edit-save").on("click", function (e) {
            e.preventDefault();
            var strConfirm = confirm("ต้องการบันทึกการแก้ไขใช่หรือไม่ ?")

            if (strConfirm) {
                $("#form-edit").submit();
            } else {
                return;
                e.preventDefault();
            }
        });

        $(".btn-logout").on("click", function (e) {
            let msg_alert = confirm("ออกจากระบบ ?");
            if (msg_alert) {
                window.location.href = `/logout`;
            }
        });

        $(".btn-delete").on("click", function (e) {
            let msg_alert = confirm("ลบข้อมูล: [" + $(this).data('name') + ']');
            if (msg_alert) {
                return true;
            } else {
                e.preventDefault();
            }
        });

        $('.phone').on('keyup', function() {
            var inputValue = $(this).val();

            if ($.isNumeric(inputValue)) {
                $(this).addClass("is-valid");
                $(this).removeClass("is-invalid");
            } else {
                $(this).addClass("is-invalid");
                $(this).removeClass("is-valid");
            }
        });

    });
</script>

</html>